<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="refresh" content="3">
    <title>File sort</title>
</head>
<body>

<div th:if="${status}">
    <h3 th:text="${status}"/><br>
</div>

<div>
    <a href="../">Home</a>
</div>

</body>
</html>
